*{
    padding: 0;
    margin: 0;

}
.my.kishlay{
    background-color: #77037B;

    padding-left: 500px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;

    
}